@use "./consts" as c;
button {
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 100%;
  padding-left: 10px;
  font-weight: 800;
&.disabled {
  &:hover{
    cursor: not-allowed;
  }
}
}

@media (hover: hover) {
  button:not(.disabled):hover {
    @include c.pressed;
      cursor: pointer;
  }
}