.todolist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 2rem;
  padding: 2rem;
}

.task {
  background: #eef0f4;
  border-radius: 15px;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem;
}
.task .content {
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.task .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.task .button-wrapper {
  display: flex; 
  justify-self: end;
}
.task button {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
}
.task button.disabled {
  visibility: hidden;
}