@use "resets";
@use 'btns';
@use 'header';
@use 'filter';
@use "todolist";
@use 'consts';

* {
  box-sizing: border-box;
}
body {
  margin: 0%;
  padding: 0%;
  background-color: #eef0f4;
  color: #77787a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}


#root{
  display: flex;
  justify-content: center;
}
.app {
  display: flex;
  align-items: center;
  flex-direction: column;

max-width: 1200px;
  min-height: 100vh;
@include consts.sm {
    padding: 2rem;
} 
}

