* {
  box-sizing: border-box;
}
body {
  margin: 0%;
  padding: 0%;
  background-color: #eef0f4;
  color: #52617e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}
button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  /*to avoid horizontal scroll after vertical scrollbar appear: */
  max-width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
}

.header input {
  border: none;
  padding-left: 1rem;
  height: 5rem;
  font-size: 1rem;
  font-family: inherit;
  background: #eef0f4;
  border-radius: 15px;
  box-shadow: inset 9px 9px 13px #d9dade, inset -9px -9px 13px #ffffff;
}
.header input.task-input {
  width: 40vw;
}
.header input.deadline-input {
  min-width: 10rem;
}
button {
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 100%;
  padding-left: 10px;
  cursor: pointer;
  background: linear-gradient(145deg, #ffffff, #c1c3c6);
  border-radius: 100%;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
}
button:hover,
button.active {
  background: #eef0f4;
  border-radius: 100%;
  box-shadow: inset 9.91px 9.91px 15px #d9dade,
    inset -9.91px -9.91px 15px #ffffff;
}
.header .task-options {
  display: flex;
  gap: 0.5rem;
}

/* *** FILTER *** */
.filter {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
}
/* TO DO LIST */

.todolist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 2rem;
  padding: 2rem;
}

.task {
  background: #eef0f4;
  border-radius: 15px;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem;
}
.task .content {
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.task .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.task .button-wrapper {
  display: flex;
}
.task button {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
}
.task button.disabled {
  visibility: hidden;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .header input.task-input {
    width: 100%;
  }
  .header .task-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .todolist {
    grid-template-columns: repeat(1, 1fr);
  }
}
